#exclude-header, #exclude-cell, #exclude-btn
{
  display: none;
  visibility: none;
}
.header-label img
{
  display: block;
}
@page
{
  size:A4;
  margin: 40px;
  font-size: 13px;
}
.body {
 text-align: justify;
}

.view-document {
  text-align: justify;
}